.footer{
    padding: 48px 0;
    min-height: 191px;
    background-color: #2d314d;
}

.footer__list{
    min-height: 95px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__item:first-child{
    width: 180px;
}

.footer__item:nth-child(2),
.footer__item:nth-child(3){
    width: 160px;
}

.footer__item:nth-child(4){
    text-align: right;
    width: 230px;
}

.footer__social-networks{
    margin-top: 55px;
    display: flex;  
}

.footer__social-network{
    margin-right: 14px;
}

.social-network path{
    transition: all .4s linear;
}

.social-network:hover path{
    transition: all .4s linear;
    fill: #30c88f;
}

.footer__nav-item{
    margin-bottom: 8px;
}

.footer__nav-link{
    display: inline-block;
    height: 26px;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.35px;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s linear;
}

.footer__nav-link:hover{
    transition: all .4s linear;
    color: #30c88f;
}

.footer__invite-button{
    margin-bottom: 24px;
}

.footer__note{
    width: 230px;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
}

@media (max-width:779px){
    .footer__item:nth-child(4){
        width: 230px;
        margin: 0 auto;
        margin-top: 32px;
    }
}

@media (max-width:600px){
    .footer{
        padding: 40px 0;
    }
    
    .footer__list{
        display: block;
        text-align: center;
    }
    
    .footer__item:first-child{
        margin: 0 auto;
        margin-bottom: 34px;
    }
    
    .footer__item:nth-child(2),
    .footer__item:nth-child(3){
        width: 160px;
        margin: 0 auto;
        text-align: center;
    }
    
    .footer__item:nth-child(4){
        text-align: center;
        width: 230px;
        margin: 0 auto;
        margin-top: 32px;
    }

    .footer__social-networks{
        margin-top: 34px;
        display: flex; 
        justify-content: space-between;
    }

    .footer__social-network{
        margin-right: 0px;
    }

}
